.nao-metal {
  background: rgb(202, 255, 58);
}

.gas-nobre {
  background: rgb(104, 186, 233);
}

.metal-alcalino {
  background: rgb(250, 182, 37);
}

.metal-alcalino-terroso {
  background: rgb(255, 241, 46);
}

.semimetal {
  background: rgb(53, 228, 208);
}

.halogenio {
  background: rgb(171, 192, 204);
}

.outros-metais {
  background: rgb(157, 48, 207);
}

.metal-transicao {
  background: rgb(248, 96, 96);
}

.lantanideo {
  background: rgb(160, 115, 233);
}

.actinidio {
  background: rgb(255, 75, 210);
}

.familia,
.periodo {
  background: rgb(255, 255, 255);
}

/* * {
  -webkit-font-smoothing: antialiased;
  perspective: 1000;
  backface-visibility: hidden;
} */

body {
  display: grid;
  gap: 3rem;
}

b {
  font-weight: 600;
}

.focus-wall {
  width: 100vw;
  height: 100vh;
  position: fixed;
  z-index: 999;
  background: hsl(0, 0%, 0%, 50%);
  display: grid;
}

.pop-up {
  padding: 2rem;
  display: flex;
  place-self: center;
  border: 1px solid rgb(0, 0, 0);
  border-radius: 5px;
  flex-direction: column;
  place-items: center;
  width: 35rem;
  background: rgb(135, 209, 129);
  font-family: 'Montserrat', Arial, Helvetica, sans-serif;
}

.pop-up button {
  outline: 1px solid rgb(0, 0, 0);
  background-color: rgb(238, 233, 233);
  padding: 0.5rem;
  border-radius: 5px;
  transition: transform 0.25s;
}

.pop-up-text {
  background-color: rgb(238, 233, 233);
  border: 1px solid rgb(0, 0, 0);
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  text-align: justify;
  margin-bottom: 1rem;
  padding: 1rem;
}

.pop-up-text section {
  width: 4rem;
  height: 4rem;
  align-self: center;
  transition: none;
  user-select: none;
  line-height: normal !important;
}

.pop-up-text h2 {
  align-self: center;
}

.pop-up-text > * {
  line-height: 1.5rem;
}

.pop-up button:hover,
.pop-up button:focus {
  cursor: pointer;
  transform: scale(1.2);
  z-index: 1;
}

header {
  padding: 0.7rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: rgba(65, 219, 51, 0.369);
}

.heading-box {
  background: rgba(255, 255, 255, 0.842);
  border: 1px solid rgb(0, 0, 0);
  border-radius: 5px;
  padding: 0.5rem;
}

h1 {
  font-size: 2rem;
  font-weight: 700;
  text-transform: uppercase;
  text-align: center;
}

main {
  place-self: center;
  display: grid;
  gap: 0.75rem;
  font-family: 'Montserrat', Arial, Helvetica, sans-serif;
}

main > div {
  display: grid;
  gap: 0.2rem;
}

.tabela-wrapper {
  grid-template-columns: repeat(18, 4rem);
  grid-template-rows: repeat(9, 4rem);
}

/* .periodos-wrapper {
  grid-template-columns: 2rem;
  grid-template-rows: repeat(8, 4rem);
} */

.familias-wrapper {
  grid-template-columns: repeat(18, 4rem);
  grid-template-rows: 2rem;
}

.grid-col-span-3 {
  grid-column: span 3;
}

.grid-col-span-10 {
  grid-column: span 10;
}

.grid-col-span-16 {
  grid-column: span 16;
}

.hidden {
  visibility: hidden;
}

section {
  border: 1px solid rgb(0, 0, 0);
  border-radius: 5px;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  transition: all 0.25s;
}

.tabela-wrapper section:hover,
.tablea-wrapper section:focus {
  cursor: pointer;
  transform: scale(1.5);
  z-index: 1;
}

h4 {
  font-weight: 700;
}

h5 {
  font-size: 0.6rem;
}

h6 {
  font-size: 0.6rem;
  position: absolute;
  top: 2px;
  left: 2px;
}
