body {
  font-family: 'Montserrat', Arial, Helvetica, sans-serif;
}

.header {
  background: #41db335e;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-inline: 0.75rem;
  padding-block: 0.5rem;
}

.header img {
  height: 6rem;
}

.title {
  font-size: 2rem;
  background: #ffffffd7;
  border: 1px solid #000;
  border-radius: 5px;
  padding: 0.5rem;
  text-align: center;
}

b {
  all: revert;
}

.nao-metal {
  background: #caff3a;
}
.gas-nobre {
  background: #68bae9;
}
.metal-alcalino {
  background: #fab625;
}
.metal-alcalino-terroso {
  background: #fff12e;
}
.semimetal {
  background: #35e4d0;
}
.halogenio {
  background: #abc0cc;
}
.outros-metais {
  background: #9d30cf;
}
.metal-transicao {
  background: #f86060;
}
.lantanideo {
  background: #a073e9;
}
.actinidio {
  background: #ff4bd2;
}

.main {
  display: grid;
  place-items: center;
  gap: 1rem;
}

table {
  border-collapse: separate;
  border-spacing: 3px;
}

td * {
  display: block;
}

.elemento {
  --tamanho: 4rem;
  width: var(--tamanho);
  height: var(--tamanho);
  border: 1px solid #000;
  border-radius: 5px;
  position: relative;
  text-align: center;
  vertical-align: middle;
  user-select: none;
}

.hidden {
  visibility: hidden !important;
}

em {
  font-size: 0 !important;
}

.elemento-numero {
  font-size: 0.75rem;
  position: absolute;
  inset: 2px auto auto 2px;
}

.elemento-sigla {
  font-weight: 700;
  position: absolute;
  inset: 0.75rem 0 0 0;
}

.elemento-nome {
  font-size: 0.6rem;
  position: absolute;
  inset: 2rem 0 0 0;
}
.elemento-massa {
  font-size: 0.6rem;
  position: absolute;
  inset: 2.75rem 0 0 0;
}

.tabela td:where(:hover, :focus) {
  cursor: pointer;
  transform: scale(1.5);
  z-index: 1;
}

.wall {
  position: fixed !important;
  inset: 0 0 0 0 !important;
  z-index: 999 !important;
  background: #00000080;
  display: grid;
  place-items: center;
}

.pop-up {
  max-width: 35rem;
  background: #87d181;
  border: 1px solid #000;
  border-radius: 5px;
  padding: 2rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.content {
  align-self: stretch;
  background-color: #eee9e9;
  border: 1px solid #000;
  border-radius: 5px;
  padding: 1rem;
  margin-block: 0.5rem;
  line-height: 1.5rem;
}

.fechar {
  border: 1px solid #000;
  border-radius: 2.5px;
  padding-inline: 0.5rem;
  padding-block: 0.25rem;
  background: #fff;
}

.fechar:where(:hover, :focus) {
  cursor: pointer;
  background-color: #c6b9b9;
}

:focus {
  border-color: #f00 !important;
  outline-color: #f00 !important;
}
