body {
  font-family: "Montserrat", Arial, Helvetica, sans-serif;
}

header {
  background: #41db335e;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-inline: 0.75rem;
  padding-block: 0.5rem;
}

header img {
  height: 6rem;
}

header .title {
  background: #ffffffd7;
  border: 1px solid #000;
  border-radius: 5px;
  padding: 0.5rem;
  text-align: center;
}

h1 {
  font-size: 2rem;
  font-weight: 700;
}

.nao-metal {
  background: #caff3a;
}
.gas-nobre {
  background: #68bae9;
}
.metal-alcalino {
  background: #fab625;
}
.metal-alcalino-terroso {
  background: #fff12e;
}
.semimetal {
  background: #35e4d0;
}
.halogenio {
  background: #abc0cc;
}
.outros-metais {
  background: #9d30cf;
}
.metal-transicao {
  background: #f86060;
}
.lantanideo {
  background: #a073e9;
}
.actinidio {
  background: #ff4bd2;
}

main {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 1rem;
}

table {
  border-collapse: separate;
}

table.tabela {
  border-spacing: 3px;
}

table td.elemento {
  --tamanho: 4rem;
  width: var(--tamanho);
  height: var(--tamanho);
  max-width: var(--tamanho);
  max-height: var(--tamanho);
  border: 1px solid #000;
  border-radius: 5px;
  position: relative;
  text-align: center;
  vertical-align: middle;
  transition: all 0.25s;
  user-select: none;
}

table td.hidden {
  visibility: hidden;
}

table td * {
  display: block;
}

span.elemento-numero {
  font-size: 0.75rem;
  position: absolute;
  top: 2px;
  left: 2px;
}

span.elemento-sigla {
  font-weight: 700;
}

span.elemento-nome,
span.elemento-massa {
  font-size: 0.6rem;
}

.tabela td:where(:hover, :focus) {
  cursor: pointer;
  transform: scale(1.5);
  z-index: 1;
}

div.wall {
  position: fixed !important;
  top: 0 !important;
  left: 0 !important;
  bottom: 0 !important;
  right: 0 !important;
  z-index: 999 !important;
  background: #00000080;
  display: grid;
  place-items: center;
}

div.pop-up {
  max-width: 35rem;
  background: #87d181;
  border: 1px solid #000;
  border-radius: 5px;
  padding: 2rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}

div.content {
  align-self: stretch;
  background-color: #eee9e9;
  border: 1px solid #000;
  border-radius: 5px;
  padding: 1rem;
  margin-block: 0.5rem;
  line-height: 1.5rem;
}

button.fechar {
  border: 1px solid #000;
  border-radius: 2.5px;
  padding-inline: 0.5rem;
  padding-block: 0.25rem;
  background: #fff;
}

button.fechar:where(:hover, :focus) {
  cursor: pointer;
  background-color: #c6b9b9;
}

b {
  all: revert;
}

:focus {
  border-color: #f00 !important;
  outline-color: #f00 !important;
}
