*{
	margin:0;
	padding:0;
	list-style:none;
	box-sizing:border-box;	
}
body{
width: 100%;
    -webkit-backface-visibility: hidden;
}
.nao-metal{
	background-color: rgb(202, 255, 58);
}
	
.gas-nobre{
	background-color: rgb(104, 186, 233);
}

.metal-alcalino{
	background-color: rgb(250, 182, 37);
}
	
.metal-alcalino-terroso{
	background-color: rgb(255, 241, 46);
}
	
.semimetal{
	background-color: rgb(53, 228, 208);
}
	
.halogenio{
	background-color: rgb(171, 192, 204);
}
	
.outros-metais{
	background-color: rgb(157, 48, 207);
}
	
.metal-transicao{
	background-color: rgb(248, 96, 96);
}
	
.lantanideo{
	background-color: rgb(160, 115, 233);
}
	
.actinidio{
	background-color: rgb(255, 75, 210);
}
.header {
    padding: 10px 0px 10px 10px;
    width: 100%;
    top: 0%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #3fdb315e
}
.box {
    background-color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    flex-wrap: wrap;
    justify-content: center;
    font: 0.9em 'Montserrat', sans-serif;
    margin-top: 4rem;
    margin-bottom: 4rem;
    width: 100%;
}
#tabela{
    display:grid;
    grid-template-columns:repeat(18, 4rem);
    grid-gap:.2rem;
}
.col-span16{
    grid-column:span 16;
}
    
.col-span10{
    grid-column:span 10;
}
    
.col-span3{
    grid-column:span 3;
}  
.col-hidden{
    display:block;
    visibility:hidden;
}
section{
	border:1.5px solid;
	border-radius: 5px;
    height: 4rem;	
	position:relative;
	display:flex;
	flex-direction:column;
	justify-content:center;
}
span{
	font-size:.6rem;
	position:absolute;
	top: 2px;
    left: 2px;
}
h1{
    padding:.5rem;
	text-transform:uppercase;
    border: 1px solid black;
    border-radius: 5px; 
    background-color: rgba(255, 255, 255, 0.842);
}
h2{
	font-size:1rem;
    display: flex;
    align-self: center;
}
p{
    display: flex;
    align-self: center;
	font-size:.6rem;	
}
section:hover, section:focus {
    transition:.2s;
    transform:scale(1.3);
    cursor:pointer;
    z-index:2;
}
li:hover{
    transition:.2s;
    transform:scale(1.3);
    cursor:pointer;
    z-index:2;
}
li{
    display:inline;
    font-size: 1rem;
    border:1.5px solid;
    border-radius: 5px;
    padding: 4px;
}
ul{
    display: flex;
    margin-top: 1rem;
    justify-content: space-between;
}